:root:root {
  --adm-color-primary: #eab308;
}

body {
  margin: 0;
  /* background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-button-text-color); */
}

#root {
  min-height: 100vh;
}

* {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

